<ion-content>
  <div class="flex-center">
    <ion-card class="card">
      <ion-card-header class="input-container">
        <ion-card-title class="logintxt">Registrar</ion-card-title>
      </ion-card-header>
    
      <ion-card-content >
        <ion-item class="input-container">
          <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Digite seu Email"></ion-input>
        </ion-item>
        <ion-item class="input-container">
          <ion-input type="text" label="username" labelPlacement="floating" placeholder="Digite seu username"></ion-input>
        </ion-item>
      <ion-item>
          <ion-input type="Password" label="Senha" labelPlacement="floating" placeholder="Digite sua senha"></ion-input>
        </ion-item> 
      </ion-card-content>
      <ion-button size="full">Cadastrar</ion-button>
      <ion-button color="dark" fill="clear" size="full">ja tenho cadastro</ion-button>
    
    </ion-card>
  </div>


</ion-content>
