<ion-content>
  <div class="flex-center">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="logintxt">Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Digite seu Email"></ion-input>
        </ion-item>
        <br>
      <ion-item>
          <ion-input type="Password" label="Senha" labelPlacement="floating" placeholder="Digite sua senha"></ion-input>
        </ion-item> 
      </ion-card-content>
      <ion-button size="full">Entrar</ion-button>
      <ion-button  size="full">Registrar</ion-button>
      <ion-button color="dark" fill="clear" size="full">Esqueceu a senha</ion-button>
    
    </ion-card>
  </div>


</ion-content>
